* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
  font-weight: 400;
  color: #444;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  background: #ececec;
}

a {
  color: #E65100;
}

.header {
  width: 100%;
  height: 156px;
  background: #FF8F00;
  color: #FFF;
  font-size: 40px;
  font-weight: 400;
  padding: 0 0 0 72px;
  z-index: 1;
  position: fixed;
}

.header__title-wrapper {
  position: absolute;
  bottom: 16px;
  transform-origin: 0 100%;
}

.header__title {
  font-size: 40px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.header__subhead {
  font-size: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  opacity: 0.54;
}

body.details-active .story__title,
body.details-active .story__by,
body.details-active .story__score {
  transition: opacity 0.5s ease-out;
  opacity: 0 !important;
}

body.details-active .story {
  background: linear-gradient(to bottom, #FFF 0%, #FFF 100%);
}

body.raised .header {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16),
      0px 2px 5px 0px rgba(0, 0, 0, 0.23);
}

main {
  padding-top: 156px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 0;
}

.story {
  padding: 16px 16px 16px 72px;
  background: #FFF;
  background: linear-gradient(to bottom, #FFF 0%,#F4F4F4 100%);
  position: relative;
  min-height: 90px;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.story:after {
  display: block;
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #dedede;
}

.story:nth-last-child(-n+1):after {
  display: none;
}

.story__title {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0,0,0,0.87);
  margin: 0;
  padding: 0;
  line-height: 32px;
}

.story__by,
.story-details__by {
  color: rgba(0,0,0,0.54);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.story__score {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #FFB300;
  border-radius: 50%;
  color: rgba(255,255,255,0.87);
  font-weight: 500;
  font-size: 13px;
  left: 16px;
  top: 16px;
  text-align: center;
  line-height: 40px;

  box-shadow:
      0px 2px 5px 0px rgba(0, 0, 0, 0.06),
      0px 2px 5px 0px rgba(0, 0, 0, 0.08),
      0px 2px 7px 0px rgba(0, 0, 0, 0.10);
}

.story-details {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  opacity: 0;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
  box-shadow:
      0px 2px 5px 0px rgba(0, 0, 0, 0.06),
      0px 2px 5px 0px rgba(0, 0, 0, 0.08),
      0px 2px 7px 0px rgba(0, 0, 0, 0.10);

  overflow: hidden;
  transition: opacity 0.3s ease-out;
}

.story-details__content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;

  padding: 0 16px 72px 72px;
}

.story-details__title {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.story-details__title-link {
  color: #FFF;
  opacity: 0.6;
}

.story-details__url {
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  font-weight: 400;
}

.story-details__header {
  padding: 16px 16px 64px 72px;
  background: #FFA000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.story-details__close {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -48px;
  background: url(../images/ic_close_24px.svg) center center no-repeat;
  border: none;
  text-indent: -10000px;
  border-radius: 0;
}

.story-details__meta {
  background: #FFC107;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 72px;
  line-height: 40px;
  color: rgba(0,0,0,0.57);
}

.story-details__comment {
  font-size: 14px;
  line-height: 22px;
  padding: 16px 0;
  word-wrap: break-word;
  border-bottom: 1px solid #9c9c9c;
}

.story-details-comment__author {
  font-weight: 700;
  font-size: 16px;
}

.story-details__comments-title {
  font-weight: 400;
  margin: 0;
  padding: 48px 0 0 0;
}

.story-details__link {
  display: inline-block;
  padding: 10px;
  background: #FF8F00;
  color: #FFF;
  border-radius: 2px;
  text-decoration: none;
  margin-top: 30px;
}

footer {
  font-size: 13px;
  height: 40px;
  background: #ececec;
  color: #888;
  text-align: center;
  line-height: 40px;
}

footer a {
  color: #666;
  font-weight: 500;
}
